<style>

#chart svg {
  height: 400px;
}

</style>

<div class="line-body">
	<div class="container">
		<div class ="row">
			<div class="col-xs-4">
				<div class="chart-label"><%= @graphTitles[0] %></div>
			</div>
			<div class="col-xs-8">
				<div id="chart">
				  <svg></svg>
				</div>
			</div>
		</div>
	</div>
</div>